rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow list: if false;
      allow get: if true;
      allow create: if request.resource.data.createTime == request.time
        && request.resource.data.docVersion == 0;
      allow update: if request.resource.data.docVersion == resource.data.docVersion + 1;
      allow delete: if true;
    }
    match /questions/{questionId} {
      allow read: if true;
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }
  }
}